<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container bg-primary">
        <div class="heading mt-3 mb-4">
            <h1>Hello Darkness My Old Friend</h1>
            <h5>I've come to talk with you again.</h5>
        </div>

        <p>
            Because a vision softly creeping <br>
            Left its seeds while I was sleeping<br>
            And the vision that was planted in my brain<br>
            Still remains<br>
            Within the sound of silence<br>
        </p>
        <p>
            In restless dreams I walked alone<br>
            Narrow streets of cobblestone<br>
            'Neath the halo of a street lamp<br>
            I turned my collar to the cold and damp<br>
            When my eyes were stabbed by the flash of a neon light<br>
            That split the night<br>
            And touched the sound of silence<br>
        </p>
        <p>
            And in the naked light I saw<br>
            Ten thousand people, maybe more<br>
            People talking without speaking<br>
            People hearing without listening<br>
            People writing songs that voices never share<br>
            No one dared<br>
            Disturb the sound of silence<br>
        </p>
        <p>
            "Fools" said I, "You do not know<br>
            Silence like a cancer grows<br>
            Hear my words that I might teach you<br>
            Take my arms that I might reach you"<br>
            But my words like silent raindrops fell<br>
            And echoed in the wells of silence<br>
        </p>
        <p>
            And the people bowed and prayed<br>
            To the neon god they made<br>
            And the sign flashed out its warning<br>
            In the words that it was forming<br>
        </p>
        <p>
            And the sign said, "The words of the prophets<br>
            Are written on the subway walls<br>
            And tenement halls<br>
            And whispered in the sounds of silence"<br>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>